@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #010212;
  color-scheme: light;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --font-boldonse: var(--font-boldonse);
  --font-daysOne: var(--font-daysOne);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), system-ui, -apple-system, sans-serif;
}